<h1>Dashboard</h1>
<div class="container">
    <div>
        <form action="/reserve-slot" method="POST">
            <div>
                <label for="lab">Select Lab</label>
                <select id="lab" name="lab"></select>
            </div>

            <div>
                <label for="date">Select Date</label>
                <input type="date" id="date" name="date">
            </div>

            {{#if studentID}}
            <div>
                <label for="studentID">Student ID</label>
                <input type="number" id="studentID" name="studentID" value="{{studentID}}" readonly>
            </div>
            {{/if}}

            {{#if techID}}
            <div>
                <label for="techID">Technician ID</label>
                <input type="number" id="techID" name="techID" value="{{techID}}" readonly>
            </div>
            {{/if}}

            <!-- table of lab slot availability -->

            <!-- slots to be reserved -->

            <button type="submit">Reserve Slots</button>
        </form>

        <a href="/profile/id/{{#if studentID}}{{studentID}}{{else}}{{techID}}{{/if}}?ownerID={{#if studentID}}{{studentID}}{{else}}{{techID}}{{/if}}" class="btn btn-view-profile">
            View Profile
        </a>
    </div>
</div>