<div class="container-sm my-5">
    <h1>Dashboard</h1>
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/profile/id/{{#if studentID}}{{studentID}}{{else}}{{techID}}{{/if}}?ownerID={{_id}}" class="nav-link">
                    View Profile
                </a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <form action="/reserve-slot" method="POST">
        <div>
            <label class="form-label" for="lab">Select Lab</label>
            <select class="form-select" id="lab" name="lab">
            {{#each labs}}
                <option value="{{labID}}" {{#if (eq labID ../selectedLab.labID)}}selected{{/if}}>{{labName}}</option>
            {{/each}}
            </select>
        </div>

        <div>
            <label class="form-label" for="date">Select Date</label>
            <input class="form-control" type="date" id="date" name="date" value="{{selectedDate}}">
        </div>

        {{#if techID}}
        <div>
            <label class="form-label" for="studentID">Student ID</label>
            <input class="form-control" type="number" id="studentID" name="studentID" value="{{studentID}}">
        </div>
        {{/if}}

        <!-- table of lab slot availability -->
        <div>
        {{#if selectedLab}}
            <h3>{{selectedLab.labName}}</h3>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th class="border">Time Slot</th>
                        {{#times selectedLab.seatCount}}
                        <th class="border">{{inc @index}}</th>
                        {{/times}}
                    </tr>
                </thead>
                <tbody>
                    {{#each selectedLab.timeList}}
                    <tr>
                        <td class="border">{{this}}</td>
                        {{#times ../selectedLab.seatCount}}
                        <td class="border">
                            {{#with (lookup ../reservedSlots this) as |slotsByTime|}}
                                {{#if slotsByTime}}
                                    {{#with (lookup slotsByTime (inc @index)) as |reservedByStudentID|}}
                                            {{#if reservedByStudentID}}
                                                {{reservedByStudentID}}
                                            {{else}}
                                                ---
                                            {{/if}}
                                    {{/with}}
                                {{else}}
                                    ---
                                {{/if}}
                            {{/with}}
                        </td>
                        {{/times}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>Please select a lab to view its schedule.</p>
        {{/if}}
        </div>

        <div>
            <label class="form-label" for="timeSlots">Select Time Slots (Ctrl+Click to select multiple)</label>
            <select class="form-select" id="timeSlots" name="timeSlots" multiple size="5">
            {{#each selectedLab.timeList}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            </select>
        </div>

        <div>
            <label class="form-label" for="seat">Select Seat</label>
            <select class="form-select" id="seat" name="seat">
            {{#times selectedLab.seatCount}}
                <option value="{{inc @index}}">{{inc @index}}</option>
            {{/times}}
            </select>
        </div>

        <button class="btn btn-outline-success" type="submit">Reserve Slots</button>
    </form>

    <!-- slots reserved for the lab, belonging to the student if studentID, all if techID -->
    <div>
        <h3>Current Reservations for {{selectedLab.labName}} on {{selectedDate}}</h3>
        {{#if userReservations.length}}
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th>Reservation ID</th>
                        {{#if isTech}}<th>Student ID</th>{{/if}}
                        <th>Lab ID</th>
                        <th>Seat Number</th>
                        <th>Time Slots</th>
                        <th>Reserve Date</th>
                        <th>Request Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userReservations}}
                    <tr>
                        <td>{{reservationID}}</td>
                        {{#if ../isTech}}<td>{{studentID}}</td>{{/if}}
                        <td>{{labID}}</td>
                        <td>{{seatNumber}}</td>
                        <td>{{formatList timeList}}</td>
                        <td>{{formatDate reserveDate}}</td>
                        <td>{{formatDate requestDate}}</td>
                        <td>
                            <button class="btn btn-outline-success">Edit</button>
                            <form action="/delete-reservation" method="POST">
                                <input type="hidden" name="reservationID" value="{{reservationID}}" style="display:inline;">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                            
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>No reservations found for this lab and date.</p>
        {{/if}}
    </div>

    <script>
        document.getElementById('lab').addEventListener('change', function() {
            const selectedLabID = this.value;
            const selectedDate = document.getElementById('date').value;
            window.location.href = `/dashboard?labID=${selectedLabID}&date=${selectedDate}`;
        });

        document.getElementById('date').addEventListener('change', function() {
            const selectedLabID = document.getElementById('lab').value;
            const selectedDate = this.value;
            window.location.href = `/dashboard?labID=${selectedLabID}&date=${selectedDate}`;
        })
    </script>
</div>