<h1>Dashboard</h1>
<div class="container-sm my-5 border">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/profile/id/{{#if studentID}}{{studentID}}{{else}}{{techID}}{{/if}}?ownerID={{#if studentID}}{{studentID}}{{else}}{{techID}}{{/if}}" class="nav-link">
                    View Profile
                </a>
            </li>
            {{#if techID}}
            <li class="nav-item">
                <a href="/labs" class="nav-link">
                    Manage Labs
                </a>
            </li>
            {{/if}}
            <li class="nav-item">
                <form action="/logout" method="GET">
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <form action="/reserve-slot" method="POST">
        <div>
            <label class="form-label" for="lab">Select Lab</label>
            <select class="form-select" id="lab" name="lab"></select>
        </div>

        <div>
            <label class="form-label" for="date">Select Date</label>
            <input class="form-control" type="date" id="date" name="date">
        </div>

        {{#if studentID}}
        <div>
            <label class="form-label" for="studentID">Student ID</label>
            <input class="form-control" type="number" id="studentID" name="studentID" value="{{studentID}}" readonly>
        </div>
        {{/if}}

        {{#if techID}}
        <div>
            <label class="form-label" for="techID">Technician ID</label>
            <input class="form-control" type="number" id="techID" name="techID" value="{{techID}}" readonly>
        </div>
        {{/if}}

        <!-- table of lab slot availability -->
        <table>
        {{#each timeSlots}}
            <tr>
                <td>{{formatTime this.time}}</td>
                <td>
                    {{#if this.isReserved}}
                        <span class="status-reserved">Reserved</span>
                    {{else}}
                        <span class="status-available">Available</span>
                    {{/if}}
                </td>
                <td>
                    {{#if this.reservedBy}}
                        <span class="status-reserved-by">Student ID: {{this.reservedBy}}</span>
                    {{else}}
                        -
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </table>

        <!-- slots to be reserved -->

        <button class="btn btn-outline-success" type="submit">Reserve Slots</button>
    </form>

    
</div>